/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #007acc;
}

video {
    margin-top: 20px;
    border: 2px solid #007acc;
    border-radius: 8px;
}

button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f99;
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 14px;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

